* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #121212; }
::-webkit-scrollbar-thumb { background: #535353; border-radius: 4px; }